/* Extra small devices (phones, less than 768px) */
@media (max-width: 757px) {
  .menu {
    border-radius: 50%;
  }
  .menu, .linee {
    cursor: pointer;
  }
  .overvoci {
    transform: scaleY(0);
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 758px) and (max-width: 991px) {
  .menu {
    border-radius: 50%;
  }
  .menu, .linee {
    cursor: pointer;
  }
  .overvoci {
    transform: scaleX(0);
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu {
    transform: scale(100);
  }
  .linee {
    cursor: pointer;
    display: none;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .menu {
    transform: scale(100);
  }
  .linee {
    cursor: pointer;
    display: none;
  }
}
  