@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
h1 {
  font-size: 55px;
  font-family: 'Roboto Slab', serif;
  color: #999;
}
hr {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #EE283D;
}

